.sidebarOption {
  display: flex;
  align-items: center;

  cursor: pointer;

  margin: 0px 10px;
  padding: 5px 10px;
  transition: all 0.2s ease-in;
}
.sidebarOption:hover {
  opacity: 0.9;
  transform: scale(1.05);
  background-color: rgb(33, 30, 36);
}

.sidebarOption__icon {
  padding: 5px;
  margin-top: 2px;
  font-size: 15px !important;
}
.sidebarOption__channel {
  padding: 10px 0px;
}
.sidebarOption__hash {
  padding: 10px 0px;
}
.sidebarOption p {
  font-weight: 600;
}
.sidebar hr {
  width: 95%;
  border: 0.2px solid rgb(56, 53, 53);
}
