body {
  margin: 0;
  font-family: "Roboto", "Cantarell", "Ubuntu", "Droid Sans", -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Oxygen", "Fira Sans", "Helvetica Neue",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: #fff;
}
